@page "/browse"
@page "/browse/{*Path}"

<PageTitle>Browse</PageTitle>

<h3>@(CurrentPath == "" ? "Browse" : CurrentPath)</h3>

@if (Node == null)
{
    <p>Loading...</p>
}
else
{
    @if (Node.Parent != null)
    {
        <p>
            <a href="@ParentDirLink()">⬅️ Back</a>
        </p>
    }

    <ul>
        @foreach (var child in Node.Children.Values
       .OrderByDescending(x => x.IsDirectory)
       .ThenBy(x => x.Name))
        {
            <li>
                @if (child.IsDirectory)
                {
                    <a href="@DirLink(child.Name)">📁 @child.Name</a>
                }
                else
                {
                    <a href="@FileLink(child.Name)" target="_blank">
                        📄 @child.CleanName
                    </a>
                }
            </li>
        }
    </ul>
}
